/* Base Layer */

@import url(./base/resets.scss);
@import url(./base/typography.scss);

/* Component Layer */

@import url(./components/header.scss);
@import url(./components/sidebar.scss);
@import url(./components/mainTop.scss);

/* Layouts */

/* Pages */

/* SASS Utils */

@import url(./sass-utils/variables.scss);

/* Vendors */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #172635;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 166, 86);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
