// Sass Variables

$brandNavy: #100e2e;
$brandGreen: #00cc62;
$brandLightGreen: #e5faef;
$brandLightBlue: #f7f8fa;
$brandMediumLightGray: #858594a7;
$brandMediumGray: #858594;
$brandMediumDarkGray: #4c4c53ce;
$brandDarkMediumGray: #2e2e2eda;
$brandDarkGray: #2e2e2e;
$brandBlack: #000;
$brandWhite: #fff;
$brandRed: #d30f0f;
$brandWhite: #fff;
